#homescreen {
    width: 1200px;
    height: 676;
    margin-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@font-face {
    font-family: pkm_font;
    src: url(./assets/pkm_font.ttf);
}
.title {
    font-size: larger;
}
h4 {
    font-size: larger;
    font-weight: bolder;
    color: grey;
}
.main {
    font-family: pkm_font;
    margin-left: 40px;
}
.nav {
    position: absolute;
    margin-right: 20px;
    top: 30px;
    right: 30px;
    font-style: normal;
    font-size: 12px;
    font-family: pkm_font;
    font-weight: bold;
    text-align: right;
}
.nav ul { 
    list-style-image: none;
}
.nav li {
    margin-top: 2px;
    margin-bottom: 2px;
    list-style-type: none;
}
.nav li:hover {
    list-style-image: url('./images/selector.png');
}
.link {
    position: absolute;
    margin-right: 60px;
    right: 30px;
    font-size: 16px;
    font-family: pkm_font;
    text-align: right;
}
.link li {
    list-style-type: none;
}
.link li:hover {
    list-style-image: url('./images/selector.png');
}

a:link {
    color: black;
  }
  a:visited {
    color: grey;
  }
  a:hover {
    color: lightgray;
    border: solid 3px white;
  }
  a:active {
    color: darkgray;
  }
#records .button {
    font-family: pkm_font;
    background-color: black;
    border: solid 1px grey;
    color: white;
    padding: 2px 4px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 3px;
}
.App .startBttn {
    align-items: center;
    background-color: lightgrey;
    border: lightgrey;
    width: 100px;
    height: 38px;
    padding-left: 1px;
    padding-right: 2px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.App .startBttn:hover {
    border: black;
    background-color: darkgray;
}

.App .startBttn:focus {
    outline: none !important;
    border: darkgray;
    background-color: darkgray;
}

.submitBttn {
    font-family: pkm_font;
    font-size: 12px;
    align-items: center;
    background-color: lightgrey;
    border: lightgrey;
    width: 80px;
    height: 28px;
    padding-left: 1px;
    padding-right: 2px;
    border-radius: 10px;
    margin-left: 5px;
}
.submitBttn:hover{
    border: black;
    background-color: darkgray;
}
.submitBttn:focus {
    outline: none !important;
    border: darkgray;
    background-color: darkgray;
}
.text {
    font-size: medium;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.list {
    font-size: large;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 70px;
}
.list li{
    margin-bottom: 10px;
    margin-top: 10px;
    list-style-type: none;
    list-style-image: url('./images/selector.png');
    list-style-position: inside;
    font-size: medium;
}
.list li span {
    padding-left: 10px;
}

#player1 {
    position: absolute;
    top: 270;
    left: 90px;
    background-image: url('./images/pikachu.png');
    background-size: cover;
    border: solid 1px lightgrey;
    border-radius: 5px;
    width: 25px;
    height: 25px;

}
#player2 {
    position: absolute;
    top: 320px;
    left: 90px;
    background-image: url('./images/eevee.png');
    background-size: cover;
    border: solid 1px lightgrey;
    border-radius: 5px;
    width: 25px;
    height: 25px;

}
#player3 { 
    position: absolute;
    top: 380px;
    left: 90px;
    background-image: url('./images/jigglypuff.png');
    background-size: cover;
    border: solid 1px lightgrey;
    border-radius: 5px;
    width: 25px;
    height: 25px;

}
#player4 {
    position: absolute;
    top: 430px;
    left: 90px;
    background-image: url('./images/togepi.png');
    background-size: cover;
    border: solid 1px lightgrey;
    border-radius: 5px;
    width: 25px;
    height: 25px;

}
.label {
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form {
    font-family: pkm_font;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type=text] {
    font-family: pkm_font;
    border: none;
    border-bottom: 2px solid darkgray;
  }
.dropdown{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.dropdown select{
    background: transparent;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    z-index: 10;
    font-family: pkm_font;
    width: 100%;
}
.dropdown select:hover{
    color: darkgray;
}
.dropdown select:focus{
    outline: none !important;
    color: lightgray;
}
.orderSelection button {
    margin-left: 40px;
    margin-top: 20px;
    background-image: url('./images/dice.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50px;
    width: 50px;
    border: none;
    background-color: white;
}
.orderSelection button:hover {
    border: solid 2px lightgray;
    border-radius: 10px;

    background-color: darkgray;
}
.orderSelection button:focus {
    outline: none !important;
    border: solid 2px grey;
    border-radius: 4px;
    background-color: lightgray;
}
.orderSelection button span {
    display: none;
  }
.instructions{
    margin-top: 40px;
    margin-bottom: 40px;
    color: lightgray;
    font-size: x-small;
}
#mapLayout{
    align-items: right;
    text-align: right;
    position: absolute;
    right: 200px;
    top: 250px;
    color: lightgrey;
    font-size: small;
    background-image: url('./images/instructions.png');
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;

}
#dices {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.characters{
    font-size: x-small;
    margin-top: 5px;
    margin-bottom: 5px;
}
.characters li{
    font-size: small;
}
.characters .stats {
    padding-top: 10px;
    padding-left: 10px;
    border: solid 4px black;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    color: rgb(75, 75, 75);
}
.UI {
    position: absolute;
    right: 40px;
    align-items: right;
    text-align: right;
}
.UI span{
    color: black;
}
#current {
    position: absolute;
    right: 10px;
    bottom: 250px;
}
#turn {
    position: absolute;
    right: 10px;
    bottom: 350px;
}
.playBttn {
    margin-top: 25px;
}
.pokemonSelection{
    position: absolute;
    top: 220px;
    right: 400px;
    text-align: right;
    background-image: url('./images/pkm_selection.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
}
#titleSelection{
    position: relative;
    margin-top: 10px;
    margin-right: 50px;
}

.container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: solid 6px darkgray;
    border-radius: 10px;
}
.minicontainer {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: solid 4px black;
    border-radius: 10px;
}
#start {
    margin-right: 120px;
    margin-top: 20px
}
.mapcontainer {
    height: 205px;;
    width: 820px;
    background-color: black;
    border: solid 18px rgb(56, 56, 56);
    border-radius: 10px;
}